.idea/
.htaccess.sample
.modgit/
.modman/
/app/etc/applied.patches.list
/app/etc/cache.xml
/app/etc/config.xml
/app/etc/enterprise.xml
/app/etc/session.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/local.xml
/app/.htaccess
/app/bootstrap.php
/app/locale/en_US/
/dev/.htaccess
/dev/tests/functional/
/downloader/
/errors/
/favicon.ico
/includes/
/index.php.sample
/install.php
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/LICENSE_EE*
/mage
/media/
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/.htaccess
sitemap.xml
var/
# 自定义
app/code/community/Webgriffe/
/app/etc/modules/Webgriffe_TphPro.xml
app/code/local/Alanstormdotcom/
/app/etc/modules/Alanstormdotcom_Layoutviewer.xml
app/code/local/MagePsycho/
/app/etc/modules/MagePsycho_Easypathhints.xml
.DS_Store
.sass-cache
/sftp-config.json
node_modules/

.project